@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';



body {
    background: $black;
    color: $white;
    font-family: $font;
}

h1{
    font-size:45px;
    font-weight: 800px;
    color:white;
}
h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1em;
}

p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1em;
}
.Hero{
    background-position:bottom;

}



.navbar.navbar-default {
    display: flex;
    padding: 20px ;
    top: 0;
    margin:0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 5;
}

.Logo {
    width: 151px;
    height: 41px;
    margin-right: 10px;
    transition: margin .125s ease;
    
    svg {
        transform: scale(.5);
        transform-origin: 0 0;
        
        path {
            fill: $red;
            transition: fill .125s ease;
        }
    }
    
    &:hover {
        cursor: pointer;
        margin-top: 2px;
        svg {
            path {
                fill: $white !important;
            }
        }
    }
}



.UserProfile {
    margin-left: auto;
}
.UserProfile .User {
    display: flex;
}
.UserProfile .User .image {
    border-radius: 44px;
    margin-left: 10px;
    overflow: hidden;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border: 3px solid transparent;
    transition: border .125s ease;
}    
img {
    width: 100%;
    display: block;
}

.name {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 300;
    height: 44px;
}

.name:hover {
    cursor: pointer;
}
.name:hover .image {
    border: 3px solid $red;
}

.UserProfile-menu {
    display: none;
}

.Hero {
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 800px;
}
.Hero .content {
    position: relative;
    z-index: 4;
    width: 500px;
    left: 10vw;
    top: 10vw;
}

.logo {
    max-width: 400px;
    display: block;
    position: relative;
    left: -5px;
}

p {
    width: 100%;
}

.button-wrapper {
    display: flex;
    width: 400px;
    margin-top: 30px;
}
.Button:first-child {
    margin-right: 10px;
}

.overlay {
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotate(180deg);
}

.Button {
    background: transparent;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 44px;
    font-size: 14px;
    font-weight: 600;
    transition: border .125s ease, background .125s ease;
}
.Button:hover {
    border: 2px solid grey;
}

.Button:hover[data-primary='true'] {
    border: 2px solid red;
}

.Hero ~ .TitleList:nth-child(3) {
    margin-top: -10vw;
    position: relative;
    z-index: 4;
}

.TitleList {
    padding: 20px 40px;
    box-sizing: border-box;
    transition: opacity 3s ease;
    opacity: 0;
}
.Title {
    @extend h2;
}

.titles-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;

    width: calc(100vw - 80px);
    box-sizing: border-box;
    justify-content: space-between;

}

.Item {
    width: calc(20% - 10px);
    min-width: calc(20% - 10px);
    background-color: $blackblack;
    flex: 1 0 auto;
    background-position: center;
    background-size: 100%;
    height: 200px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-right: 10px;
    transition: background 1s ease;
}
.Item:nth-child(n+6) {
    margin-top: 20px;
}
.Item:last-child {
    margin-right: 0;
}

.overlay {
    padding: 20px;
    position: relative;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity .125s ease;
}
.title {
    font-size: 22px;
    font-weight: 200;
    opacity: 0;

    transition: opacity .25s ease;
}

.rating {
    font-size: 14px;
    opacity: 0;

    transition: opacity .25s ease .125s;
}

.plot {
    font-size: 14px;
    display: -webkit-box;
    margin-top: 100px;
    font-weight: 300;
    line-height: 1.6;
    opacity: 0;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: margin .25s ease .125s, opacity .25s ease .25s;
}

.plot:hover {
    background-size: 150%;
}
.plot .overlay {
        opacity: 1;
        pointer-events: all;
}

