extends layout
block content
  .container
    h1 Bookstore App
    table.table
       thead
        tr
          th Name
          th Email
          th Number
          th Action
          th  
       tbody
        form(action='/add', method='post' id="addForm")
           tr
            td
              input#name.form-control(type='text', name='name')
            td
              input#email.form-control(name='email')
            td
               input#number.form-control(name='number')
            td
              button.btn.btn-primary(type='submit') Add Contact
  .container
    .row
      section.content
        h1 Table Filter
          .col-md-12.col-md-offset-2
            .panel.panel-default
              .panel-body
                .pull-right
                  .btn-group
                    button.btn.btn-success.btn-filter(type='button', data-target='pagado') Pagado
                    button.btn.btn-warning.btn-filter(type='button', data-target='pendiente') Pendiente
                    button.btn.btn-danger.btn-filter(type='button', data-target='cancelado') Cancelado
                    button.btn.btn-default.btn-filter(type='button', data-target='all') Todos
                .table-container
                  table.table.table-filter
                    tbody
                      - var values= data
                      each val, index in values
                        tr(data-status='pagado')
                          td
                            .ckbox
                              input#checkbox1(type='checkbox')
                              label(for='checkbox1')
                          td
                            a.star(href='javascript:;')
                              i.fa.fa-star
                          td
                            .media
                              a.pull-left(href='#')
                                img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                              .media-body
                                span.media-meta.pull-right=val.number
                                h4.title= val.name
                                p.summary= val.email
                                  span.pull-right.pagado (Pagado)
                          td
                            .pull-right.action-buttons
                              a( href="/update/"+val._id)
                                span.fa.fa-pencil
                              a.trash(id="delete-"+val._id, class="delete")
                                span.fa.fa-trash