extends layout
block content
  form.form-horizontal.updateForm
    fieldset
      // Form Name
      legend="UPDATING"+" "+persona.name
      // Text input
      .form-group
        label.col-md-4.control-label(for='pname') NAME
        .col-md-4
          input#pname.form-control.input-md(name='pname', type='text', placeholder='', required='', value=persona.name)
      // Text input
      .form-group
        label.col-md-4.control-label(for='pEmail') EMAIL
        .col-md-4
          input#DVFCZ.form-control.input-md(name='pEmail', type='text', placeholder='', required='', value=persona.email)
      // Text input
      .form-group
        label.col-md-4.control-label(for='pNumber') NUMBER
        .col-md-4
          input#KKKO.form-control.input-md(name='pNumber', type='text', placeholder='', required='', value=persona.number)
      // Button (Double)
      .form-group
        label.col-md-4.control-label(for='button1idFFF')
        .col-md-8
          button.btn.btn-primary.update(role='button', id="update-"+persona._id) Update
          a.btn.btn-danger(href='/', role='button') Cancel